@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(71, 71, 163);

}

header {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 10px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 470px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.47);
    margin: auto;
}

div {
    
    padding: 10px;
    font-size: 1em;
}

select#flista {
    width: 150px;
}


footer {
    text-align: center;
    font-style: italic;
    font-size: 1em;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    width: 300px;
    margin: auto;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    padding: 0px 2px;
    transition: 0.5s;
    color: rgb(69, 239, 146);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}