body {
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    text-align: center;
    
}

button {
    width: 200px;
    height: 100px;
    text-align: center;
    display: block;
    margin: auto;
}